:root {
    --aa-input-border-color-rgb: "none";
    --aa-primary-color-alpha: 0;
    --aa-primary-color-rgb: 97,97,97;
    --aa-icon-color-alpha: 0.8;
    --aa-input-background-color-rgb: "none";
    --aa-selected-color-rgb: 160,160,160;
    --aa-muted-color-rgb: 0,0,0;
    --aa-muted-color-alpha: 1;
    --aa-icon-stroke-width: 100;
}

.aa-Input::placeholder{
    color: #777777;
}

.aa-ItemActionButton {
    --aa-muted-color-rgb: 128,126,163;
    --aa-muted-color-alpha: 0.8;
}

.aa-SubmitButton {
    padding-left: 15px;
    padding-top: 4px;
}

.aa-DetachedSearchButton {
    width: 51px;
    height: 51px;
    z-index: 0;
    padding: 10px;
    position: center;
    border-radius: 30px;
    -webkit-tap-highlight-color: transparent;
}

.aa-DetachedSearchButton:hover {
    background-color: rgba(236, 236, 236, 0.5);
    cursor: pointer;
}

@media (hover: none){
    .aa-DetachedSearchButton:hover {
        background-color: transparent;
    }
}

.aa-DetachedSearchButtonIcon svg {
    z-index: 1;
    height: 23px;
    width: 100%;
}

.aa-DetachedSearchButtonIcon svg:hover {
    cursor: pointer;
}

.aa-DetachedSearchButtonPlaceholder:hover {
   cursor: pointer;
}
