:root {
    --aa-input-border-color-rgb: "none";
    --aa-primary-color-alpha: 0;
    --aa-primary-color-rgb: 97,97,97;
    --aa-icon-color-alpha: 0.8;
    --aa-input-background-color-rgb: "none";
    --aa-selected-color-rgb: 160,160,160;
    --aa-muted-color-rgb: 0,0,0;
    --aa-muted-color-alpha: 1;
    --aa-icon-stroke-width: 100;
}

.aa-Input::placeholder{
    color: #777777;
}

.aa-ItemActionButton {
    --aa-muted-color-rgb: 128,126,163;
    --aa-muted-color-alpha: 0.8;
}